---
import Layout from '../layouts/Layout.astro';
import Scroll from '../components/Scroll.astro';
import Background from '../components/Background.astro';
import Section1 from '../components/Section-1.astro';
import Accordion from '../components/Accordion.astro';
import Acarreo from '../assets/images/agro-acarreo.png';
import Embarque from '../assets/images/agro-embarque.png';
import Etiquetas from '../assets/images/agro-etiquetas.png';
import Material from '../assets/images/agro-material.png';
import Ordenes from '../assets/images/agro-ordenes.png';
import Security from '../assets/svg/security.astro'
import Arrows from '../assets/svg/arrows.astro';
import Check from '../assets/svg/check.astro';
import Seguridad from '../sections/Seguridad.astro';
---

<Layout title="Agroeasy – Klevisoft">
  <Background
    title="Software Agroeasy para Etiquetado, Paletización y Embarques."
    style="text-white text-center px-2 py-[30vh]"
    bg="bg-agroeasy" 
  />
  <Scroll
    style="hide shadow-2xl flex items-center justify-center text-white rounded-full w-14 h-14 bg-green hover:bg-light-green focus:ring-4 focus:ring-green/30 focus:outline-none"
  />
  <section class="flex flex-col items-center bg-white">
    <div class="text-center py-[12vh] px-10 md:px-[20vw] flex flex-col space-y-8">
      <h1 class="font-bold text-4xl sm:text-6xl">
          <span class="text-dark-green">Convergencia Innovadora: Fusionando Experiencia Agrícola y Tecnológica para Soluciones Eficientes</span>
      </h1>
      <p class="text-left text-xl text-gray">
        Al combinar la experiencia profunda en las necesidades del agricultor proveniente del equipo de dirección con las habilidades tecnológicas avanzados de los programadores jóvenes, tenemos la capacidad de desarrollar soluciones innovadoras y altamente relevantes para la industria agrícola.</p>
    </div>
  </section>

  <section class="bg-gradient-to-r from-green to-dark-green py-[12vh] px-10 md:px-[20vw] text-white text-2xl">
    <p>Esta combinación única de conocimientos y perspectivas puede conducir a un ciclo de desarrollo muy eficiente, donde la comprensión profunda del sector agrícola se fusiona con las últimas tecnologías para crear soluciones prácticas y avanzadas. Aseguramos de que haya una comunicación fluida y colaboración entre estos dos grupos es clave para desbloquear el máximo potencial y garantizar que las soluciones sean verdaderamente efectivas y adoptadas por los agricultores.</p>
  </section>

  <section class="flex flex-col items-center bg-white">
    <div class="text-center py-[12vh] px-10 md:px-[20vw] flex flex-col space-y-8">
      <h1 class="font-bold text-4xl sm:text-6xl">
          <span class="text-dark-green">Plataforma Web Agroeasy</span>
      </h1>
      <p class="text-left text-xl text-gray">
        Agroeasy es una solución integral para supervisar el proceso de empaque y embarque a través de un eficiente etiquetado mediante códigos QR. Facilita la trazabilidad mediante este etiquetado, garantizando un seguimiento preciso, asimismo, administra rigurosamente los materiales de empaque. Este sistema ofrece diversas secciones funcionales: Catálogos, Procesos, Reportes y Consultas, así como Utilidades.</p>
      <Accordion/>
      <p class="text-left text-xl text-gray">
        Buscamos atender las necesidades del sector agrícola mexicano, brindando servicios tecnológicos durante todo el proceso, tanto a campos pequeños, como medianos y grandes, haciendo un sistema accesible para todos ellos con el fin de ayudarles en su adaptación a la revolución tecnológica.</p>
    </div>
  </section>

  <section class="py-[12vh] px-10 md:px-[20vw]">
    <h1 class="font-bold text-4xl sm:text-5xl text-center m-5">
      <span class="text-dark-green">¡Optimiza tus Exportaciones Agrícolas con Agroeasy!</span>
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-7 text-center">
       <div class="bg-green rounded-xl shadow-xl p-5 flex flex-col justify-center">
        <div class="size-[8rem] self-center">
          <Security/>
        </div>
        <p class="text-dark-blue text-3xl font-bold">Control Total</p>
        <p class="text-dark-blue">Gestiona tus exportaciones con precisión, desde la planificación inicial hasta la entrega puntual y efectiva de productos.</p>
       </div>
       <div class="bg-green rounded-xl shadow-xl p-5 flex flex-col justify-center">
        <div class="size-[8rem] self-center">
          <Arrows/>
        </div>
        <p class="text-dark-blue text-3xl font-bold">Trazabilidad Confiable</p>
        <p class="text-dark-blue">Obtén una visibilidad completa de tus productos en cada etapa, garantizando la calidad y cumpliendo con los estándares exigidos.</p>
       </div>
       <div class="bg-green rounded-xl shadow-xl p-8 sm:col-span-2 sm:row-start-2 flex flex-col sm:flex-row justify-center items-center">
        <div class="w-[8rem] self-center m-5">
          <Check/>
        </div>
        <div>
          <p class="text-dark-blue text-3xl font-bold">Optimización de Procesos</p>
          <p class="text-dark-blue">Aumenta la eficiencia y reduce los costros mediante la automatización de tareas clave en la cadena de suministro.</p>
        </div>
       </div>
    </div>
  </section>

  <Seguridad/>

  <section class="py-[12vh] px-10 md:px-[20vw]">
    <h1 class="font-bold text-4xl sm:text-6xl text-center">
      <span class="text-dark-green">Conoce los Procesos del Sistema</span>
    </h1>
    <div class="justify-evenly grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 flex space-x-5 text-center">
       <div>
        <img src={Acarreo.src} class="hover:-translate-y-6 duration-500 ease-in-out rounded-box object-cover aspect-[16/12] shadow-xl rounded-lg my-5" />
        <p class="text-dark-blue text-3xl font-bold">Acarreos de campos</p>
       </div>
       <div>
        <img src={Etiquetas.src} class="hover:-translate-y-6 duration-500 ease-in-out rounded-box object-cover aspect-[16/12] shadow-xl rounded-lg my-5" />
        <p class="text-dark-blue text-3xl font-bold">Elaboración de etiquetas</p>
       </div>
       <div>
        <img src={Ordenes.src} class="hover:-translate-y-6 duration-500 ease-in-out rounded-box object-cover aspect-[16/12] shadow-xl rounded-lg my-5" />
        <p class="text-dark-blue text-3xl font-bold">Ordenes de embarques</p>
       </div>
       <div>
        <img src={Embarque.src} class="hover:-translate-y-6 duration-500 ease-in-out rounded-box object-cover aspect-[16/12] shadow-xl rounded-lg my-5" />
        <p class="text-dark-blue text-3xl font-bold">Preparación de embarque</p>
       </div>
       <div>
        <img src={Material.src} class="hover:-translate-y-6 duration-500 ease-in-out rounded-box object-cover aspect-[16/12] shadow-xl rounded-lg my-5" />
        <p class="text-dark-blue text-3xl font-bold">Transacciones de material</p>
       </div>
    </div>
  </section>

  <Section1
    Atitle="Optimiza tus exportaciones agrícolas hoy mismo con Agroeasy. ¡Haz click para descubrir más!"
    Btitle="Contáctanos"
    bg="bg-gradient-to-r from-green to-dark-green text-white"
    style="shadow-md rounded-lg px-8 py-5 text-xl bg-white text-dark-blue hover:border hover:border-white hover:bg-green hover:text-white hover:shadow-lg transition-colors cursor-pointer duration-300"
    href="/contactanos"
  />
</Layout>